[submodule "vim/pack/plugins/start/vim-colors-solarized"]
	path = vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/pack/plugins/start/vim-gh-line"]
	path = vim/pack/plugins/start/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "vim/pack/plugins/start/vim-rfc"]
	path = vim/pack/plugins/start/vim-rfc
	url = https://github.com/mhinz/vim-rfc
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "dynamic-colors"]
	path = dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors
